#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

:root {
  --color-primary: #1A202C;
  /* Principal */
  --color-secondary: #2D3748;
  /* Secundario */
  --color-accent: #4A5568;
  /* Acento */
  --color-background: #fcf5edd8;
  /* Fondo */
  --color-subtitule: #9b8a53;
  /* Fondo */
  --color-accent-bright: #3182CE;
  /* Acento Vivo */
}

body {
  background-image: url('https://img.freepik.com/foto-gratis/fondo-papel-arrugado-blanco-simple-artesania-bricolaje_53876-128183.jpg?t=st=1715802692~exp=1715806292~hmac=6537728a2b6046686d399ce364510f3e17e6b2122eecd22c7efbba21c409209f&w=1380');
  background-size: contain;


  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
  font-family: 'Times New Roman';
  font-weight: 550;
}

p {
  font-family: 'Times New Roman';
}

a {
  color: var(--color-accent-bright);
  font-family: times;
}

.navbar {
  border-bottom: 4px solid #222222;
}

.encabezado {
  border-bottom: 1px solid #222222;
}

.subtitulen {
  color: var(--color-subtitule);
  border-bottom: 1px solid #222222;

}

.imgEn {
  width: 100%;
  max-height: 400px;
}

.psob {
  font-size: 14px;


}
.psbo3{
  padding-right: 1px;
}

.sobremi {
  border-right: 1px solid #222222;
}

.imgSobre {
  max-width: 200px;
  max-height: 200px;
  margin-top: -20px;
  border-radius: 100%;
  margin-bottom: 20px;
}


.abajen {
  border-bottom: 1px solid #222222;
  padding-bottom: 15px;
}

.proyectos {
  border-bottom: 1px solid #222222;
}
.proyectoss {
  border-bottom: 1px solid #222222;
}

.psbo4{
  margin-left: 10px;
}

.form{
  max-width: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}
.card {
  
  background-color: rgba(255, 255, 255, 0.0); /* Blanco con 70% de opacidad */
  
  
}
.card:hover{
 
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

.tecno{
  border-right: 1px solid #222222;
}

.imgtecno{
  width: 50px;
}

.ptecno{
  margin-bottom: -1px;
}

.foot{
  
  border-top: 1px solid #222222;
}

.body {
  background-color: var(--color-background);
}

.btn-primary {
  background-color: var(--color-accent-bright);
  border-color: var(--color-accent-bright);
}